// ROOT STYLES
:root,
body,
.page-container {
  // Layout
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  // Typography
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  // Color presets
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 4%);
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 21%);
  --color-primary: hsl(171, 100%, 41%);
  --color-link: hsl(217, 71%, 53%);
  --color-info: hsl(204, 86%, 53%);
  --color-success: hsl(141, 53%, 53%);
  --color-warning: hsl(48, 100%, 67%);
  --color-danger: hsl(348, 100%, 61%);

  // Spacing
  --navbar-spacing: 20px;
  --sidebar-spacing: 10px;
  --card-spacing: 10px;

  // Borders
  --border-radius: 5px;
}

// TYPOGRAPHY
.section-header {
  margin: 0;
  padding: 0;
}

// INTERACTIVITY
.hide {
  display: none;
}

// MAIN GRID LAYOUT

.page-container {
  background-color: var(--color-light);

  display: grid;
  grid-template: 80px 1fr / 350px 1fr;

  .navbar {
    grid-column: 1 / -1;
  }
}

// SHARED LAYOUTS
.crud-layout {
  display: grid;
  grid-template: min-content 1fr / 1fr min-content;
  align-items: center;

  > button {
    text-wrap: nowrap;
  }

  > .cards {
    grid-column: 1 / -1;
    align-self: flex-start;

    margin-top: var(--sidebar-spacing);

    display: flex;
    flex-direction: column;
    gap: var(--card-spacing);
  }
}

.todos .card {
  padding: var(--card-spacing) 0;
}

.card {
  padding: var(--card-spacing);
  background-color: var(--color-light);
  border-radius: var(--border-radius);

  display: grid;
  grid-template: 1fr / 1fr min-content min-content;
  gap: 10px;
  align-items: center;

  p {
    margin: 0;
    overflow: auto;
  }

  input {
    overflow: auto;
  }
}

button {
  padding: 10px;
  background-color: var(--color-success);
  border: none;
  border-radius: var(--border-radius);
  color: white;
  font-weight: bold;

  &.danger {
    background-color: var(--color-danger);
  }
}

// NAVBAR
.navbar {
  padding: calc(var(--navbar-spacing) + var(--sidebar-spacing));
  background-color: var(--color-white);
  box-shadow: 0 0 3px var(--color-primary);
}

// SIDEBAR (PROJECTS)
.sidebar {
  margin: var(--navbar-spacing);
  padding: var(--sidebar-spacing);
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

// CONTENT (TASKS)
.content {
  margin: calc(var(--navbar-spacing) + var(--sidebar-spacing));
}
