// BASE CONFIG AND VARIABLES

:root,
html,
body {
  // Layout
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  // Typography
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  // Color presets
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 4%);
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 21%);
  --color-primary: hsl(171, 100%, 41%);
  --color-link: hsl(217, 71%, 53%);
  --color-info: hsl(204, 86%, 53%);
  --color-success: hsl(141, 53%, 53%);
  --color-warning: hsl(48, 100%, 67%);
  --color-danger: hsl(348, 100%, 61%);

  // Borders
  --border-radius: 5px;

  // Container padding
  --container-padding: 10%;
}

// BASE SCREEN (NAVBAR, CONTENT)

.container {
  --container-height: 100%;
  --navbar-height: 80px;

  height: var(--container-height);

  display: flex;
  flex-direction: column;

  .navbar {
    padding: 0 var(--container-padding);
    height: var(--navbar-height);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .content {
    height: calc(var(--container-height) - var(--navbar-height));
    padding: 0 var(--container-padding);
    background-color: var(--color-light);
  }
}
